<!DOCTYPE html>
<html>
<head>
    <h1><%= title %></h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="/stylesheets/on_off_switch.css" type="text/css">
</head>
<body>
<h3 style="color: brown">
<%if(success){%>
  <%= success%>
<%}%>
<%if(error){%>
<%= error%>
<%}%>
</h3>
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="	glyphicon glyphicon-plus"></span>添加</button>
    <form action="/search" role="form" style="display: inline-block; float: right">
        <input type="text" name="search" placeholder="请输入搜索的用户名">
        <input type="submit" class="btn btn-info" value="搜索">
    </form>
    <table class="table table-condensed" style="margin-top: 15px">
        <caption></caption>
        <thead>
        <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>注册日期</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>